# MongoDB Test Configuration
databaseUrl=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb-service:27017/recipe_db?authSource=admin
databaseName=recipe_db
databaseCollection=recipe
